div {
  /* display: inline; */
  /* margin: 0px; */
}

.seedEditor {
  display: inline-block;
}
.ruleEditor {
  /* display: inline-block; */
}

.seedTile {
  margin: 1px;
  height: 50px;
  width: 50px;
  display: inline-block;
}

.seedTile.true {
  background-color: black;
  color: black;
}

.seedTile.false {
  background-color: white;
  color: white;
}

.repTile {
  display: inline-block;
}

.repSubTile {
  height: 19px;
  width: 19px;
  display: inline-block;
  padding: 0px;
  /* font-size: 25px; */
  /* margin: 1px; */
}

.repSubTile.true {
  background-color: black;
  color: black;
}

.repSubTile.false {
  background-color: white;
  color: white;
}

.seedTileRow {
  /* display: inline-block; */
  /* margin: 0px; */
}

body {
  background-color: gainsboro;
}
